<style> 
   .box_main img {
       max-width: 100%;
       height: 50%;
       margin: auto;
   }
</style>﻿

<!--  design section start -->
<div class="design_section layout_padding">
    <div id="my_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @for (int i = 0; i < ViewBag.FurnitureList.Count; i += 3)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <div class="container">
                        <h1 class="design_taital">our work furniture</h1>
                        <p class="design_text">there are many variations of passages of lorem ipsum available, but the majority have suffered alteratio</p>
                        <div class="design_section_2">
                            <div class="row">
                                @for (int j = i; j < i + 3 && j < ViewBag.FurnitureList.Count; j++)
                                {
                                    var furniture = ViewBag.FurnitureList[j];
                                    <div class="col-md-4">
                                        <div class="box_main" style="height:100%">
                                            <p class="chair_text">@furniture.Name</p>
                                            @if (furniture.Name == "Chair")
                                            {
                                                <img src="~/images/img-3.png" class="img-fluid">

                                            }
                                            else if (furniture.Name == "Sofa")
                                            {
                                                <img src="~/images/img-4.png" class="img-fluid">

                                            }
                                            else
                                            {
                                                <img src="~/images/img-5.png" class="img-fluid">

                                            }


                                            <p class="chair_text">price $@furniture.Price</p>
                                            <div class="buy_bt"><a href="#">buy now</a></div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
                                                
        <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
            <i class="fa fa-long-arrow-left" style="font-size:24px"></i>
        </a>
        <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-long-arrow-right" style="font-size:24px"></i>
        </a>
    </div>
    <div class="container">
        <div class="read_bt"><a href="#">Read More</a></div>
    </div>
</div>
<!--  design section end -->